@charset "UTF-8";

@media  screen and (min-width: 600px) {
    
    #burguer {
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        border-radius: 10px;
        margin-left: 5px;
    }

    main{
        max-width: 800px;
    }

    article{
        padding: 0.5rem;
    }
}