@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
    font-family: "Noto Serif", serif;
}

header{
    background-color: #34344e;
}

#burguer{
    background-color: rgb(48, 47, 47);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

#burguer:hover{
      background-color: white;
      color: black;
}

menu{
    display: none;
}

h1{
    color: white;
    font-size: 3em;
}

h1, h2{
    text-align: center;
    padding: 20px;
    
}

main {
  text-align: justify;
  width: 100%;
  max-width: 800px;   /* Limita a largura máxima */
  margin: auto;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  height: auto;
  box-sizing: border-box;
}


main, p{
    margin-bottom: 20px;
    text-indent: 20px;
}

body{
    
}

li{
    border-top: 2px solid gray;
    background-color: #cbdad5;
    text-align: center;
    padding: 4px;

}

a{
    display: block;
    text-decoration: none;
    color: rgb(77, 75, 75);
    
}

li:hover{
    background-color: #89a7b1;
    box-shadow: 2px 2px 2px black;
}

a:hover{
    color: #000000;
    
}