@charset "UTF-8";

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


header {
    
    height: 275px;
    text-align: center;
    background-color: black;
    color: white;
}
h1{
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 9vw;
    font-weight: 400px;
    font-style: normal;
    padding-top: 45px;
    
}
header a{
    font-family: var(--fonte1);
    color: white;
    text-decoration: none;
    
}

a:hover{
    text-decoration: underline;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    text-align: justify;
    
}

section{
    line-height: 2em;
    padding-bottom: 10vh;
    padding-top: 10vh;
    padding-left: 20px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

footer{
   background-color: black;
   color: white;
   text-align: center;
   padding: 7px;
   font-size: 1.2em;
   
}

footer a{
    font-family: var(--fonte1);
    color: white;
    text-decoration: none;
}