@charset "UTF-8";

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


header {
    
    height: 277px;
    text-align: center;
    background-color: black;
    color: white;
}
h1{
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 10vw;
    font-weight: 450px;
    font-style: normal;
    padding-top: 50px;
    
}
header a{
    font-family: var(--fonte1);
    color: white;
    text-decoration: none;
    
}

header a{
    font-weight: bolder;
}

header p{
    font-family: var(--fonte1);
}

a:hover{
    text-decoration: underline;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body{
    text-align: justify;
    
}

.parallax{
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    box-shadow: 3px;
    color: white;

}

.parallax2{
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    box-shadow: 3px;
    color: white;
}

.content > section > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 5px;
    
}


section{
    line-height: 2em;
    padding-bottom: 10vh;
    padding-top: 10vh;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

footer{
   background-color: black;
   color: white;
   text-align: center;
   padding: 7px;
   font-size: 1.2em;
   
}

footer a{
    font-family: var(--fonte1);
    color: white;
    text-decoration: none;
}

footer p{
    font-weight: bolder;
    font-family: var(--fonte1);
}