@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
    
}

:root{
    --cor :#49a09d;
    --cor1 :#5f2c82;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: -10px;
}

 body{
    height: 100%;
    margin: 0%;
}

body{
    overflow: hidden;
    background: linear-gradient(to bottom, var(--cor1), var(--cor)) no-repeat;
    background-size: cover;
}

main{
    margin: auto;
}

section{
  display: flex;              /* Coloca as divs lado a lado */
  justify-content: center;    /* Centraliza horizontalmente */
  align-items: center;        /* Centraliza verticalmente (opcional) */
  height: 100vh;              /* Ocupa a tela toda (opcional) */
  padding: 20px;
  gap: 60px;
}

#imagen{
    
    padding: 40px;
    background-color: black;
    width: 400px;
    height: 270px;
    position: absolute;
    margin-left: 480px;
    background: url(../imagens/pexels-dinnow-86001860-9444476.jpg) left center;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 10px 4px 8px black;
}

#formulario{
    background-color: white;
    width: 400px;
    height: 270px;
    position: absolute;
    margin-right: 480px;
    padding: 40px;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 10px 4px 8px black;
}

.material-symbols-outlined{
    vertical-align: middle;
}

span{
    padding-top: 1px;
    background-color: #5f2c82;
    color: white;
}

input[type="email"]{
    padding: 3px;
    height: 30px;
    width: 350px;
    border-radius: 10px;
    background-color: #66cecab4;
    transition: 0.3s;
    border: #49a09d;
}

input[type="password"]{
    padding: 3px;
    height: 30px;
    width: 350px;
    border-radius: 10px;
    background-color: #66cecab4;
    transition: 0.3s;
    border: #49a09d;
}

input[type="email"]:focus,
input[type="password"]:focus{
    background-color: transparent;
}

input[type="submit"]{
    border-radius: 10px;
    background-color: #49a09d;
    border: #49a09d;
    margin-left: 30px;
    width: 350px;
    height: 35px;
}

input:hover[type="submit"]{
    background-color: #224b49;
}

a{
   text-decoration: none;
   margin-left: 140px;
   color: #49a09d;
}

a:hover{
    color: #224b49;
    text-decoration: underline;
}

.espaço{
    padding: 20px;
    font-size: 1.1em;
    text-align: justify;
    
}