@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
    
}

:root{
    --cor :#49a09d;
    --cor1 :#5f2c82;
}

h1{
    text-align: center;
    padding: 7px;
}

.espaço{
    text-align: justify;
    font-size: 0.9em;
    padding: 5px;
}

body, html{
    height: 100vh;
    width: 100vw;
    background-color: #5f2c82;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#formulario{
    background-color: white;
    height: 300px;
    width: 250px;
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
}

#imagen{
    background: url(../imagens/pexels-dinnow-86001860-9444476.jpg) left center no-repeat;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 250px;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}

input[type="email"]{
    padding: 3px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    background-color: #66cecab4;
    transition: 0.3s;
    border: #49a09d;

}

input[type="password"]{
    padding: 3px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    background-color: #66cecab4;
    transition: 0.3s;
    border: #66cecab4;
}

input[type="email"]:focus,
input[type="password"]:focus{
    background-color: transparent;
}


.material-symbols-outlined{
    vertical-align: middle;
}

input[type="submit"]{
    width: 240px;
    color: white;
    background-color: #66cecab4;
    border: #66cecab4;
    height: 30px;
    border-radius: 10px;
}

input:hover[type="submit"]{
   background-color: #49a09d;
}

p > a:hover{
   color: #49a09d;
   text-decoration: underline;
}

p >a{
   margin-left: 60px;
   text-decoration: none;
   color: #66cecab4;
}