@charset "UTF-8";


*{
    padding: 0%;
    margin: 0%;
    
}

:root{
    --cor :var(--cor);
    --cor1 : gray;
    --cor2 : #556270;
}

h1{
   text-align: center;
   margin-top: -10px;
   margin-bottom: -6px;
}

.espaço{
    text-align: justify;
    font-size: 0.9em;
    padding: 5px;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: #78576b;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column; /* Coloca uma div abaixo da outra */
    align-items: center;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
}

/* remove posições absolutas */
#imagen {
    background: url(../imagens/pexels-dinnow-86001860-9444476.jpg) center center no-repeat;
    background-size: cover;
    height: 200px;
    width: 250px;
    border-radius: 18px 18px 0px 0px;
    box-shadow: 0px 0px 10px black;
    margin-top: -188%;
}

#formulario {
    background-color: white;
    height: 270px;
    width: 250px;
    padding: 10px;
    border-radius: 0px 0px 18px 18px;
    box-shadow: 0px 0px 10px black;
    box-sizing: border-box;
    margin-top: -30%;
}

.campo{
    background-color: purple;
    padding: 2px;
    border-radius: 5px;
}

input[type="email"]{
    padding: 3px;
    margin-bottom: -10px;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    background-color: #285352b4;
    transition: 0.3s;
    border: #49a09d;

}

input[type="password"]{
    padding: 3px;
    margin-bottom: -10px;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    background-color: #285352b4;
    transition: 0.3s;
    border: #66cecab4;
}

input[type="email"]:focus,
input[type="password"]:focus{
    background-color: transparent;
}


.material-symbols-outlined{
    vertical-align: middle;
}

input[type="submit"]{
    width: 100%;
    color: white;
    background-color: #285352b4;
    border: #4f9e9bb4;
    height: 30px;
    border-radius: 10px;
}

input:hover[type="submit"]{
   background-color: #49a09d;
}

p > a:hover{
   color: #49a09d;
   text-decoration: underline;
}

p >a{
   margin-left: 60px;
   text-decoration: none;
   color: #285352b4;
   display: block;
   margin-top: -18px;
}

